<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | {{ site.title }}</title>
  {% seo %}

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6K48P9Z9T"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-E6K48P9Z9T');
  </script>
</head>

<body>
  <header>
    <img src="/assets/images/hero.jpg" alt="Ashwani Kaira Portrait" />


    <h1>{{ site.title }}</h1>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a> |
      <a href="{{ '/about' | relative_url }}">About</a>
    </nav>
    <hr>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <hr>
    <p>&copy; {{ site.title }} - Built with GitHub Pages</p>
  </footer>
</body>
</html>
